@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Ubuntu+Mono&display=swap');
@import url("components/banner.css");
@import url("components/iconlist.css");
@import url("components/navbar.css");
@import url("components/footer.css");


/*Colors and font*/

body {
	background-color: #121212;
}


/*Responsiveness*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}











