.banner {
  background-size: cover;
  background-position: center;
	background-color: #121212;
	padding-top: 24px;
	padding-left: 40px;
}

.banner h1 {
	font-size: 157px;
	color: #FFFFFF;
}

.banner h2 {
	font-size: 50px;
	color: #FFFFFF
}

.line {
	background-color: #79d70f;
	/*padding-top: 24px;*/
	/*padding-bottom: 24px;*/
}

.line p {
	color: #79d70f;
}

/*.title {
	font-size: 157px;
	color: #FFFFFF;
}

.subtitle {
	font-size: 50px;
	color: #FFFFFF
}

.bigdot {
	font-size: 50px;
	color: #06623b
}*/
