.banner {
  background-size: cover;
  background-position: center;
	background-color: #121212;
	padding-top: 24px;
	padding-left: 40px;
}

.title {
	font-size: 157px;
	color: #FFFFFF;
}

.subtitle {
	font-size: 50px;
	color: #FFFFFF
}

.bigdot {
	font-size: 50px;
	color: #06623b
}
