.portfolio {
	display: flex;
	justify-content: space-around;
	width: 800px;
	font-family: 'Poppins', sans-serif;
	margin: 20px auto;
	text-align: center;
}

.portfolio-card {

	margin: 8px 10px 8px 10px;
	border-radius: 8px;
	border: 1px solid rgb(82, 168, 71);
	width: 350px;
	height: 350px;
	padding: 8px;
}

.portfolio-card h2 {
	text-decoration: none;
	font-weight: lighter;
	font-size: 24px;
	color: black;
}

.portfolio-card h2:hover {
	color: rgb(82, 168, 71);
	text-decoration: none;
}

.portfolio-card p {
	font-size: 16px;
	color: gray;
}

.portfolio-card img {
	width:  250px;
  height: 200px;
  padding: 8px;
  border-radius: 16px;
  filter: grayscale(100%);
}

.portfolio-card img:hover {
  filter: grayscale(1%);
}