.my-container {
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px auto;
	font-family: 'Poppins', sans-serif;
}

.my-container h1 {
	font-size: 50px;
	font-weight:600;
}

.my-container h3 {
	font-size: 16px;
	color: gray;
}

.my-container p {
	font-size: 16px;
	color: gray;
}

.my-container a {
	font-size: 16px;
	color: black;
}

