.list {
  list-style: none;
  padding-left: 0px;
}

.list li{
  display: inline-block;
  padding: 0px 20px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.list li i{
  font-size: 50px;
  color: #FFFFFF;
}

.list li i:hover{
  font-size: 50px;
  color: #79d70f;
}